[project]
name = "fivehundredzero"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "django>=6.0",
    "gunicorn>=23.0.0",
    "httpx>=0.28.1",
]
